{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <head>
        <h1>This tutorial has been put together by Ethan Scruton</h1><br />
    </head>
    
    <p>
        I was able to put this website together with the help of the book <a href='https://www.tangowithdjango.com/'>Tango With Django.</a>
    </p>
    <p>
        The site allows users to add and like categories. Within each category, users can add and view webpages.
    </p>
{% endblock %}
