{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <head>
        <h1>This tutorial has been put together by Ethan</h1><br />
    </head>

    <div>
        Site has been visited {{ visits }} time(s).
    </div>

    <div>
        <img src="{% static "images/michael.jpg" %}"
           alt="Picture of Michael">
    </div>

    <div>
        <img src="{{ MEDIA_URL}}BROCK.jpg"
           alt="Picture of Brock">
    </div>
{% endblock %}
