{% extends 'rango/base.html' %}

{% block title_block %}
    Add Page
{% endblock %}

{% block body_block %}
    {{ ctx }}
    {% if user.is_authenticated %}
        {% if category %}
            <form role="form" id="page_form" method="post" 
                action="{% url 'rango:add_page' category.slug %}">
                <h2 class="form-signin-heading"> Add a Page to
                    <a href="{% url 'rango:show_category' category.slug %}">
                        {{ category.name }}
                    </a>
                </h2>
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <button class="btn btn-primary" type="submit" name="submit">
                    Add Page
                </button>
            </form>
        {% else %}
            <p>This category does not exist.</p>
        {% endif %}
    {% else %}
        <p>Must be logged in to add a page.</p>
    {% endif %}
{% endblock %}