{% extends 'rango/base.html' %}

{% block title_block %}
    Add Category
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <form role="form" id="category_form" method="post" 
            action="{% url 'rango:add_category' %}">
            <h2 class="form-signin-heading"> Add a Category </h2>
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">
                Add Category
            </button>
        </form>
    {% else %}
        <h1>Must be logged in to add a category.</h1>
    {% endif %}
{% endblock %}